.linkAcao:hover {
    background-color: #3333ff;
}

.linkAcao:visited {
    text-decoration: none;
}

.linkAcao:active {
    text-decoration: none;
}

.linkAcao:link {
    text-decoration: none;
}

.figura-vitrine {
    width: 190px;
    height: 332px;
    margin: 0;
    padding: 0;
    box-shadow: 3px 3px 3px black;
}

    .figura-vitrine:hover {
        box-shadow: 7px 7px 7px red;
    }

.imagem-vitrine {
    height: inherit;
    width: inherit;
}


.figura-vitrine figcaption {
    margin-top: 5px;
}

.ul-vitrine {
    list-style: none;
}

.li-vitrine {
    display: inline-block;
    width: 200px;
    height: 410px;
    text-align: center;
    font-size: small;
    vertical-align: top;
    margin-bottom: 10px;
}

.fundo-vitrine {
    background-color: #cccccc;
    width: 900px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 10px;
}