@model List<BrandViewModel>


<a href="/brand/Create" class="btn btn-success">Novo registro</a>
<br />
<br />
<table class="table table-striped table-responsive">
    <tr>
        <th>Ações</th>
        <th>Id</th>
        <th>Descrição</th>
    </tr>

    @foreach (BrandViewModel marca in Model)
    {
        <tr>
            <td>
                <a href="/brand/edit?id=@marca.Id">✍🏻</a>
                <a href="javascript:apagarMarca(@marca.Id)">💣</a>
            </td>
            <td>@marca.Id</td>
            <td>@marca.Description</td>
        </tr>
    }
</table>