@model List<OrderViewModel>

<a href="/order/Create" class="btn btn-success">Novo registro</a>
<br />
<br />
<table class="table table-striped table-responsive">
    <tr>
        <th>Ações</th>
        <th>Código</th>
        <th>Usuario id</th>
        <th>Data do pedido</th>
    </tr>

    @foreach (var order in Model)
    {
        <tr>
            <td>
                <a href="/order/edit?id=@order.Id">✍🏻</a>
                <a href="javascript:apagarPedido(@order.Id)">💣</a>
            </td>
            <td>@order.Id</td>
            <td>@order.UserId</td>
            <td>@order.PurchaseDate.ToShortDateString()</td>
        </tr>
    }
</table>
