\Login\Index.cshtml
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Login</h2>
<div class="row">
    <div class="col-lg-3">
        <form action="/login/Fazlogin" method="post">            
            <label for="usuario" class="control-label">Usuário</label>
            <input type="text"  value="admin" name="usuario" class="form-control" required placeholder='Usuário...' />
            <label for="senha" class="control-label">Senha</label>
            <input type="password" name="senha" value="1234" class="form-control" required placeholder='Senha...' />
            <br />
            <input type="submit" value="Login" class="btn btn-success" />
            <br />
            <span class="text-danger"> @ViewBag.Erro</span>
        </form>
    </div>
</div>
